{% block content %}
<div class="container" style="margin-bottom:20px;margin-top:40px;">
  <div class="row">
    <div class="col">
    </div>
    <div class="col-9">

            <div class="container-fluid" style="background-color:#212529; opacity: 0.9; color:white; margin-top:2px;">
                 <center> <h1 class="display-1" >Contact Us</h1></center><br><br>
             <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <div class="mb-3">
              <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
              <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
              <div class="mb-3">
              <button type="submit" class="btn btn-outline-Success">Send</button>
             </div>
             <br><br>
            </div>

         <br>
    </div>

    <div class="col">
    </div>
    </div>
</div>
{% endblock %}